<IfModule mod_rewrite.c>

  DirectoryIndex squirt.php

  RewriteEngine On

  ErrorDocument 404 /squirt.php

  Options +FollowSymLinks
  Options -Indexes

  RewriteBase /
  RewriteCond %{HTTP_HOST} ^([^.]+\.(com|net|org))$ [NC]
  RewriteRule ^(.*)$ http://www.%1/$1 [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /squirt.php/$1 [L]

</IfModule>
